<h1>Register to Class </h1>
<section class="card-container">
    <article class="card">
        <button mat-button color="primary">
            <fa-icon [icon]="faEdit"></fa-icon>Edit
        </button>
        <header class="card__title">
            <h3>program title</h3>
        </header>
        <figure class="card__thumbnail">
            <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="program title alt">
        </figure>
        <main class="card__description">
            Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun...
        </main>
        <div class="card-action">
            <button class="reg-btn" mat-raised-button color="primary"> Register</button>
        </div>


    </article>
    <article class="card">
        <button mat-button color="primary">
            <fa-icon [icon]="faEdit"></fa-icon>Edit
        </button>
        <header class="card__title">
            <h3>program title</h3>
        </header>
        <figure class="card__thumbnail">
            <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="program title alt">
        </figure>
        <main class="card__description">
            Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun...
        </main>
        <div class="card-action">
            <button class="reg-btn" mat-raised-button color="primary"> Register</button>
        </div>


    </article>
    <article class="card">
        <button mat-button color="primary">
            <fa-icon [icon]="faEdit"></fa-icon>Edit
        </button>
        <header class="card__title">
            <h3>program title</h3>
        </header>
        <figure class="card__thumbnail">
            <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="program title alt">
        </figure>
        <main class="card__description">
            Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun...
        </main>
        <div class="card-action">
            <button class="reg-btn" mat-raised-button color="primary"> Register</button>
        </div>


    </article>
    <article class="card">
        <button mat-button color="primary">
            <fa-icon [icon]="faEdit"></fa-icon>Edit
        </button>
        <header class="card__title">
            <h3>program title</h3>
        </header>
        <figure class="card__thumbnail">
            <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="program title alt">
        </figure>
        <main class="card__description">
            Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun...
        </main>
        <div class="card-action">
            <button class="reg-btn" mat-raised-button color="primary"> Register</button>
        </div>


    </article>
    <article class="card">
        <button mat-button color="primary">
            <fa-icon [icon]="faEdit"></fa-icon>Edit
        </button>
        <header class="card__title">
            <h3>program title</h3>
        </header>
        <figure class="card__thumbnail">
            <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="program title alt">
        </figure>
        <main class="card__description">
            Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun...
        </main>
        <div class="card-action">
            <button class="reg-btn" mat-raised-button color="primary"> Register</button>
        </div>


    </article>
    <article class="card">
        <button mat-button color="primary">
            <fa-icon [icon]="faEdit"></fa-icon>Edit
        </button>
        <header class="card__title">
            <h3>program title</h3>
        </header>
        <figure class="card__thumbnail">
            <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="program title alt">
        </figure>
        <main class="card__description">
            Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun...
        </main>
        <div class="card-action">
            <button class="reg-btn" mat-raised-button color="primary"> Register</button>
        </div>


    </article>

</section>