<app-management-nav>

    <h2 *ngIf="mode === 'create-lesson' ">Create new Lesson</h2>
    <h2 *ngIf="mode !== 'create-lesson' ">Edit Lesson Information </h2>
    <mat-card>
        <mat-spinner *ngIf="isLoading"> </mat-spinner>
        <form [formGroup]='form' *ngIf="!isLoading" (submit)="onLessonSave()">
            <div class="text-fields">

                <mat-form-field>
                    <input matInput type="text" formControlName="title" placeholder="Lesson Title" autocomplete="off">
                    <mat-error *ngIf="form.get('title').invalid">Please enter a lesson title.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select Program</mat-label>
                    <mat-select formControlName="program">
                        <mat-option *ngFor="let program of programs" value="{{program}}">{{program}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="content" placeholder="Lesson Description "
                        autocomplete="off">
                    <mat-error *ngIf="form.get('content').invalid">Please enter a lesson Description.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="location" placeholder="Lesson Location"
                        autocomplete="off">
                    <mat-error *ngIf="form.get('location').invalid">Please enter a lesson location.</mat-error>
                </mat-form-field>

            </div>

            <div class="date-input">

                <mat-form-field>
                    <input matInput [matDatepicker]="startDate" formControlName="startDate"
                        placeholder="Choose a start date">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <mat-error *ngIf="form.get('startDate').invalid">Please enter a start date.</mat-error>

                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="Choose a end date">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error *ngIf="form.get('endDate').invalid">Please enter a end date.</mat-error>
                </mat-form-field>
            </div>
            <div class="time-input">

                <mat-form-field>
                    <input matInput type="time" formControlName="hoursStart" placeholder="Choose a lesson start time">
                    <mat-error *ngIf="form.get('hoursStart').invalid">Please enter a start time</mat-error>
                    <mat-hint>AM/PM</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="time" formControlName="hoursEnd" placeholder="Choosea end start time">
                    <mat-error *ngIf="form.get('hoursEnd').invalid">Please enter a end time</mat-error>
                    <mat-hint>AM/PM</mat-hint>
                </mat-form-field>
            </div>

            <div class="text-fields">
                <mat-form-field>
                    <input matInput type="number" min="0" formControlName="numLessons" placeholder="Number Of lessons">
                    <mat-error *ngIf="form.get('numLessons').invalid">Please enter Number Of lessons.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="0" formControlName="price" placeholder="Price">
                    <mat-error *ngIf="form.get('price').invalid">Please enter a Price.</mat-error>
                </mat-form-field>

            </div>
            <button mat-raised-button color="primary" type="submit">Save Lesson</button>

        </form>

    </mat-card>

</app-management-nav>