<app-management-nav>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h1>Class Management System</h1>

    <main>
        <section class="classes-section">
            <h4>Classes</h4>
            <mat-divider></mat-divider>
            <ul>
                <!-- edit-lesson -->
                <span *ngFor="let lesson of lessons; let i=index">
                    <li *ngIf="i<5">
                        <a [routerLink]="['/edit-lesson',lesson.id]">

                            {{lesson.title}}
                            <small>({{lesson.program}})</small>
                        </a>
                    </li>
                </span>
            </ul>

            <div class="btn-action">
                <button mat-button [routerLink]="['/create-lesson']" color="primary">Add New</button>
                <button mat-button [routerLink]="['/classes']" color="primary">full List</button>
            </div>

        </section>
        <section class="student-section">
            <h4>Student</h4>
            <mat-divider></mat-divider>
            <ul>
                <li> <a> #12345: Student full name (class)</a> </li>
                <li> <a> #12345: Student full name (class)</a> </li>
                <li> <a> #12345: Student full name (class)</a> </li>
                <li> <a> #12345: Student full name (class)</a> </li>
                <li> <a> #12345: Student full name (class)</a> </li>
            </ul>
            <div class="btn-action">
                <button mat-button color="primary">All</button>
            </div>
        </section>
        <section class="user-section">
            <article>
                <h4> {{username}} </h4>
                <mat-divider></mat-divider>
                <ul>
                    <li>Role: {{ userRole  }}</li>
                    <li>Email: {{ userEmail  | lowercase}}</li>
                    <li>Phone: {{ userPhone }}</li>
                </ul>
            </article>
            <div class="btn-action">
                <button mat-button color="primary">Manage Profile</button>
            </div>



        </section>




    </main>
</app-management-nav>