<app-management-nav>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h1>Class Management System</h1>

    <main>
        <section class="classes-section">
            <h4>Classes</h4>
            <mat-divider></mat-divider>
            <ul>
                <!-- edit-lesson -->
                <li *ngFor="let lesson of lessons"> <a [routerLink]="['/edit-lesson',lesson.id]">{{lesson.title}}
                        <small>({{lesson.program}})</small> </a> </li>

            </ul>

            <div class="btn-action">
                <button mat-button [routerLink]="['/create-lesson']" color="primary">Add New</button>
                <button mat-button [routerLink]="['/classes']" color="primary">full List</button>
            </div>

        </section>
        <section class="student-section">
            <h4>Studetn</h4>
            <mat-divider></mat-divider>
            <ul>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
            </ul>
            <div class="btn-action">
                <button mat-button color="primary">All</button>
            </div>
        </section>
        <section class="user-section">
            <article>
                <h4> user name </h4>
                <mat-divider></mat-divider>
                <ul>
                    <li>Role</li>
                    <li>Email:test@rtest.com</li>
                    <li>Phone Number</li>
                </ul>

            </article>
            <div class="btn-action">
                <button mat-button color="primary">Manage Profile</button>
            </div>



        </section>




    </main>
</app-management-nav>