<app-management-nav>
    <h1>Class Management System</h1>
    <main>
        <section class="classes-section">
            <h4>Classes</h4>
            <mat-divider></mat-divider>
            <ol>
                <li> <a> #12345: class name (program name)</a> </li>
                <li> <a> #12345: class name (program name)</a> </li>
                <li> <a> #12345: class name (program name)</a> </li>
                <li> <a> #12345: class name (program name)</a> </li>
                <li> <a> #12345: class name (program name)</a> </li>
                <li> <a> #12345: class name (program name)</a> </li>
            </ol>

            <div class="btn-action">
                <button mat-button>Add New</button>
                <button mat-button>All</button>
            </div>

        </section>
        <section class="student-section">
            <h4>Studetn</h4>
            <mat-divider></mat-divider>
            <ul>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
                <li> <a> #12345: student full name (class)</a> </li>
            </ul>
            <div class="btn-action">
                <button mat-button>All</button>
            </div>
        </section>
        <section class="user-section">
            <article>
                <h4> user name </h4>
                <mat-divider></mat-divider>
                <ul>
                    <li>Role</li>
                    <li>Email:test@rtest.com</li>
                    <li>Phone Number</li>
                </ul>

            </article>
            <div class="btn-action">
                <button mat-button>Edit Profile</button>
            </div>



        </section>




    </main>
</app-management-nav>