<app-header></app-header>
<section class="section-header">
  <h2>wellcome to</h2>
  <h1>My Classes Systems</h1>
  <div class="btn-selections">
    <div>
      <img src="../assets/images/annie-spratt-QckxruozjRg-unsplash.jpg" alt="programs button image">
      <p>Programs</p>
    </div>
    <div>
      <img src="../assets/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg" alt="workshops button image">
      <p>workshops</p>
    </div>
    <div>
      <img src="../assets//images/dylan-gillis-KdeqA3aTnBY-unsplash.jpg" alt="registration button image">
      <p>registration</p>
    </div>

  </div>
</section>
<section class="about-us-section">
  <h3>about Us</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium consequuntur laboriosam iure deserunt laborum
    natus. Iste quasi quas dolorum quaerat, porro quidem necessitatibus minima consectetur ad dignissimos inventore quam
    enim?
    Nemo eum commodi ratione dicta delectus numquam asperiores laboriosam nobis repudiandae harum iure incidunt
    voluptates inventore vitae voluptatem totam quisquam aspernatur quo similique, nisi, praesentium reprehenderit!
    Magni libero sed numquam?
    Quia excepturi impedit iusto ratione perferendis! Itaque aperiam, id culpa quasi aut beatae. Modi eos consequuntur
    provident aut iure fuga illo, tempore asperiores quaerat molestiae exercitationem, a animi labore aspernatur!
    Ipsam ut quasi sed? Minima excepturi maxime, culpa quod sunt tenetur laboriosam aut? Obcaecati cupiditate tenetur
    doloremque, quae ipsa eos saepe soluta ipsam numquam, quo beatae aspernatur hic! Eaque, ipsam?
    Nostrum aperiam sequi, quidem quae quibusdam mollitia quos atque debitis doloremque excepturi! Atque dicta facilis
    eaque nihil perferendis hic inventore, corrupti ex, officia quisquam repellat cupiditate voluptatem ipsa dolor
    ipsam.</p>

</section>
<!-- ! this will be dynamic -->
<section class="card-container">
  <article class="card">
    <header class="card__title">
      <h3>program title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash_1.jpg" alt="program title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>
  <article class="card">
    <header class="card__title">
      <h3>program title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash_1.jpg" alt="program title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>
  <article class="card">
    <header class="card__title">
      <h3>program title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash_1.jpg" alt="program title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>
  <article class="card">
    <header class="card__title">
      <h3>program title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/john-schnobrich-FlPc9_VocJ4-unsplash_1.jpg" alt="program title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>
</section>
<section class="section-features">

  <article class="featur-card">
    <header class="featur-card__title">
      <h3>Lorem Ipsum</h3>
    </header>
    <div class="featur-card__thumbnail">
      %
    </div>
    <main class="featur-card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum
    </main>
  </article>
  <article class="featur-card">
    <header class="featur-card__title">
      <h3>Lorem Ipsum</h3>
    </header>
    <div class="featur-card__thumbnail">
      %
    </div>
    <main class="featur-card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum
    </main>
  </article>
  <article class="featur-card">
    <header class="featur-card__title">
      <h3>Lorem Ipsum</h3>
    </header>
    <div class="featur-card__thumbnail">
      %
    </div>
    <main class="featur-card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum
    </main>
  </article>
</section>


<!-- ! this will be dynamic -->
<section class="card-container">
  <article class="card">
    <header class="card__title">
      <h3>workshops title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/nordwood-themes-EZSm8xRjnX0-unsplash.jpg" alt="workshops title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>
  <article class="card">
    <header class="card__title">
      <h3>workshops title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/nordwood-themes-EZSm8xRjnX0-unsplash.jpg" alt="workshops title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>
  <article class="card">
    <header class="card__title">
      <h3>workshops title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/nordwood-themes-EZSm8xRjnX0-unsplash.jpg" alt="workshops title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>
  <article class="card">
    <header class="card__title">
      <h3>workshops title</h3>
    </header>
    <figure class="card__thumbnail">
      <img src="../assets/images/nordwood-themes-EZSm8xRjnX0-unsplash.jpg" alt="workshops title alt">
    </figure>
    <main class="card__description">
      Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Read More...</a>
  </article>


</section>