mat-card-header {
    justify-content: center;
    margin: 10px;
    padding: 10px;
}


ul {
    list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--primary-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    padding: 5px;
    margin: 10px;
}

h3 {
    margin: 20px;
    text-align: center;
    color: var(--primary-color);
}