<app-management-nav>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div class="container">
        <mat-card *ngFor="let lesson of lessons">
            <mat-card-header>
                <mat-card-title>{{lesson.title}}</mat-card-title>
                <img mat-card-avatar src="../../assets/images/dylan-gillis-KdeqA3aTnBY-unsplash.jpg"
                    alt="{{lesson.title}}">
                <button mat-mini-fab color="warn" type="submit" (click)="onDelete(lesson.id)">
                    <fa-icon [icon]="faTrash"></fa-icon>

                </button>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Location:{{lesson.location}}</li>
                    <li>Date Start: {{lesson.startDate | date: 'dd/MM/yyyy' }}</li>
                    <li>Ends: {{lesson.endDate | date: 'dd/MM/yyyy'}}</li>
                    <li>Starting Hours{{lesson.hoursStart}}</li>
                    <li>Number Of Lessons: {{lesson.numberOfSessions}}</li>
                    <li>Preice: {{lesson.price}}$ For a Year</li>
                </ul>

            </mat-card-content>
            <mat-card-actions>
                <a mat-button color="primary" [routerLink]="['/edit-lesson',lesson.id]">Manage Class</a>
                <button mat-button color="primary">Class Details</button>
            </mat-card-actions>
        </mat-card>


    </div>
    <mat-paginator [length]="totalLessons" [pageSize]="lessonsPerPage" [pageSizeOptions]="lessonsSizeOptions"
        (page)="onChangedPage($event)" *ngIf="lessons.length > 0">
    </mat-paginator>
</app-management-nav>